<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erro 422 - Fator 7 IN </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="gray-bg<%= params[:skin] ? " #{params[:skin]}" : " skin-1" %>">
  <div class="middle-box text-center animated fadeInDown">
    <h1>422</h1>
    <h3 class="font-bold">The change you wanted was rejected.</h3>

    <div class="error-desc">
      Maybe you tried to change something you didn't have access to. If you are the application owner check the logs for more information.
    </div>
  </div>
</body>
</html>